p{
	font-family: "Open Sans",sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 27px;

}

h2{
	  color: #814997;
		font-family: "Open Sans",sans-serif;
		font-weight: 500;
		font-size: 26px;
		line-height: 27px;

}

.biblico{
         text-align: center;
         color: #814997;
				 font-family: "Open Sans",sans-serif;
				 font-weight: 500;
				 font-size: 26px;
				 line-height: 27px;

}

.salmo-biblico{
         			 text-align: right;
        			 color: #814997;
							 font-family: "Open Sans",sans-serif;
							 font-weight: 500;
							 font-size: 18px;
							 line-height: 27px;

}


p{
	font-family: "Open Sans",sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 27px;

}

h2{
    color: #814997;
	font-family: "Open Sans",sans-serif;
	font-weight: 500;
	font-size: 26px;
	line-height: 27px;

}

h3{
    color: #814997;
	font-family: "Open Sans",sans-serif;
	font-weight: 500;
	font-size: 22px;
	line-height: 27px;
}


.listas {
	font-family: "Open Sans",sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 27px;

}

.o-que-faco{
    color: #cc69a6
}


